html,
body {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1165px;
  margin: 0 auto;
  padding: 0 15px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.header__container {
  position: relative;
}

.nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 5;
}

.logo__link {
  margin-top: 20px;
  margin-right: 86px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 55px;
}

.nav__link {
  font-family: Formular;
  font-size: 16px;
  line-height: 20px;
  color: #070707;
  margin-left: 20px;
}

.nav__link--red {
  color: #e32455;
}

.hero-overlay {
  max-width: 1400px;
  max-height: 680px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("./../../images/header.jpg");
}

.hero__title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 130%;
  /* or 78px */
  color: #070707;
  padding-top: 141px;
  padding-bottom: 24px;
}

.hero__item-text {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color: #070707;
  margin-top: 20px;
}

.hero__button {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #070707;
  width: 320px;
  height: 60px;
  background: #ffca28;
  border-radius: 30px;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 71px;
  margin-bottom: 84px;
}

.hero__button:hover,
.hero__button:focus {
  background: #070707;
  color: #ffca28;
}

.garant__overlay {
  max-width: 1400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("./../../images/garant.jpg");
}

.garant__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 155%;
  color: #ffffff;
  padding-top: 81px;
}

.we__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.we__overlay {
  max-width: 1400px;
  height: 854px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("./../../images/we.jpg");
}

.name-section {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  /* identical to box height, or 26px */
  color: rgba(7, 7, 7, 0.5);
  padding-top: 96px;
}

.we__title {
  max-width: 490px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120%;
  /* or 72px */
  color: #070707;
  padding-top: 40px;
}

.we__span {
  color: #e5007e;
}

.we__text {
  max-width: 440px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 155%;
  /* or 31px */
  color: #070707;
  margin-top: 70px;
}

.we-text__box {
  width: 550px;
}

.we-text__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 155%;
  color: #070707;
  margin-top: 168px;
}

.we-box__img {
  display: block;
  margin-top: 146px;
  float: right;
}

.team__name-section {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  color: rgba(7, 7, 7, 0.5);
  margin-top: 139px;
  margin-bottom: 40px;
}

.sms__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120%;
  /* or 72px */
  color: #070707;
}

.team__span {
  color: #64a2ff;
}

.sms__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.sms__img {
  position: absolute;
  bottom: 0;
  left: -100px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #e5ffeb;
  text-align: center;
  background-image: url("./../../images/smile_love.svg");
}

.sms__img-sml {
  background-image: url("./../../images/smile.svg");
  background-position: right;
}

.sms__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 155%;
  /* or 31px */
  color: #070707;
  width: 580px;
  height: 180px;
  background: #e5ffeb;
  border-radius: 7% 6% 6% 0% / 11% 10% 10% 0%;
  padding: 30px 46px;
}

.sms__text:before {
  content: "";
  border: solid transparent;
  position: absolute;
  right: 100%;
  bottom: 0px;
  border-right-color: #e5ffeb;
  border-width: 9px;
  margin-bottom: -1px;
}

.team__item {
  position: relative;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__name {
  position: absolute;
  top: 545px;
  left: 90px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 155%;
  /* or 46px */
  color: #004f9e;
}

.numbers__box {
  position: relative;
  width: 1280px;
  height: 388px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("./../../images/numbers-fon.png");
}

.numbers__list {
  position: absolute;
  top: 50%;
  left: 35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1161px;
  height: 260px;
  background: radial-gradient(204.44% 163.2% at -10.56% -8.5%, rgba(229, 255, 235, 0.5) 2.24%, rgba(229, 255, 235, 0.35) 100%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.numbers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numbers__number {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 155%;
  color: #64a2ff;
  text-align: center;
}

.numbers__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 155%;
  /* or 46px */
  text-align: center;
  color: #64a2ff;
}

.form__overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-2000px);
          transform: translateX(-2000px);
  height: 834px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: ease 1s all;
  transition: ease 1s all;
  z-index: 3;
}

.form__overlay.active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.form {
  top: 80px;
  left: 50%;
  width: 320px;
  height: 754px;
  position: absolute;
  background: #e5efff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 4;
}

.form__title {
  margin-left: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  /* or 36px */
  color: #070707;
  margin-top: 80px;
  margin-bottom: 35px;
}

.form__span {
  color: #004f9e;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  /* margin-left: 27px; */
  margin-top: 0;
  padding: 0;
  /* margin-right: auto; */
}

.form__input {
  width: 300px;
  height: 60px;
  border: none;
  background: #ffffff;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.form__label {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 130%;
  /* or 18px */
  text-transform: uppercase;
  color: #070707;
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: -webkit-transform 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95), -webkit-transform 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  font-family: "PT Sans";
  color: #ffca28;
  line-height: 1.2;
  font-size: 12px;
  text-align: center;
  -webkit-transform: translate(-6px, -45px);
          transform: translate(-6px, -45px);
}

.form__input:focus {
  outline: none;
  border: 2px solid #ffca28;
}

/*    */
.form__button {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  color: #070707;
  width: 300px;
  height: 60px;
  border: none;
  background: #ffca28;
  border-radius: 30px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  -webkit-transition: ease 1s all;
  transition: ease 1s all;
  margin-top: 40px;
}

.form__button:hover {
  background: #070707;
  color: #ffca28;
}

.form__button--close {
  position: absolute;
  top: 24px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: #e5efff;
  -webkit-transition: ease 1s all;
  transition: ease 1s all;
  cursor: pointer;
}

.form__button--close:hover {
  background: #ffca28;
}

.form__button--close::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-image: url("./../../images/close.svg");
}

.close-form {
  top: 80px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-500%);
          transform: translateX(-500%);
  width: 320px;
  height: 355px;
  padding-left: 10px;
  background: #e5efff;
  background-image: url("./../../images/closs_form.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}

.close-form__title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  /* identical to box height, or 36px */
  padding-left: 10px;
  color: #004f9e;
  padding-top: 168px;
}

.close-form__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 155%;
  /* or 28px */
  padding-left: 10px;
  color: #070707;
}

.close-form__btn {
  position: absolute;
  top: 24px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: #e5efff;
  -webkit-transition: ease 1s all;
  transition: ease 1s all;
  cursor: pointer;
}

.close-form__btn::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background-size: contain;
  background-position: center;
  background-image: url("./../../images/close.svg");
}
/*# sourceMappingURL=main.css.map */