.garant__overlay {
  max-width: 1400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("./../../images/garant.jpg");
}
.garant__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 155%;

  color: #ffffff;
  padding-top: 81px;
}
