.header__container {
  position: relative;
}

.nav {
  position: absolute;
  display: flex;

  flex-wrap: wrap;
  z-index: 5;
}
.logo__link {
  margin-top: 20px;
  margin-right: 86px;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 55px;
}

.nav__link {
  font-family: Formular;

  font-size: 16px;
  line-height: 20px;

  color: #070707;
  margin-left: 20px;
}
.nav__link--red {
  color: #e32455;
}
