.team__name-section {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;

  color: rgba(7, 7, 7, 0.5);
  margin-top: 139px;
  margin-bottom: 40px;
}

.sms__box {
  display: flex;
  justify-content: space-between;
}
.team__title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120%;
  /* or 72px */

  color: #070707;
}

.team__span {
  color: #64a2ff;
}
.sms__item {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}
.sms__img {
  position: absolute;
  bottom: 0;
  left: -100px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #e5ffeb;
  text-align: center;
  background-image: url("./../../images/smile_love.svg");
  //   background-position: center;
}
.sms__img-sml {
  background-image: url("./../../images/smile.svg");
  background-position: right;
}
.sms__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 155%;
  /* or 31px */

  color: #070707;
  width: 580px;
  height: 180px;
  // border-radius: 3% 0% 0% 70% / 83% 0% 0% 0%;
  background: #e5ffeb;
  border-radius: 7% 6% 6% 0% / 11% 10% 10% 0%;
  padding: 30px 46px;
  &:before {
    content: "";
    border: solid transparent;
    position: absolute;
    right: 100%;
    bottom: 0px;
    border-right-color: #e5ffeb;
    border-width: 9px;
    margin-bottom: -1px;
  }
}
.team__item {
  position: relative;
}
.team__list {
  display: flex;
  justify-content: space-between;
}
.team__name {
  position: absolute;
  top: 545px;
  left: 90px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 155%;
  /* or 46px */
  //   text-align: center;
  color: #004f9e;
}
.numbers__box {
  position: relative;
  width: 1280px;
  height: 388px;

  margin-left: auto;
  margin-right: auto;

  background-image: url("./../../images/numbers-fon.png");
}
.numbers__list {
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translateY(-50%);
  //   margin-top: auto;
  //   margin-bottom: auto;
  width: 1161px;
  height: 260px;
  background: radial-gradient(
    204.44% 163.2% at -10.56% -8.5%,
    rgba(229, 255, 235, 0.5) 2.24%,
    rgba(229, 255, 235, 0.35) 100%
  );
  backdrop-filter: blur(20px);
}

.numbers__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.numbers__number {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 155%;

  color: #64a2ff;
  text-align: center;
}
.numbers__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 155%;
  /* or 46px */

  text-align: center;

  color: #64a2ff;
}
